.form{
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 500px;
    margin: auto;
    margin-top: 50px;
    /* background-color: rgba(0,0,0,0.1); */
    /* box-shadow: inset -5px -5px rgba(0,0,0,0.1); */
    border-radius: 25px;
    padding: 3.5rem;
    font-size: large;
    gap: 20px;
}

.form h1{
    font-size: 1.5rem;
    border-bottom: 20px black;
    font-family:monospace;
}

.box{
    padding: 17px 50px 17px 50px;
    margin: 0 0 20px 0; 
    width: calc(108% - 24px);
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
    color:rgb(0, 0, 0)
}

.label{
    margin: 0;
}



.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform: translateY(0);
    opacity: 1;
}

.form-container.move-up {
    transform: translateY(-65px); /* Adjust this value based on how much you want it to move */
    opacity: 1;
}

.response {
    margin-top: 20px;
    animation: fade-in 0.5s ease-in;
}

h1{ 
    color: black;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
